* {
  padding: 0;
}

.online {
  border: solid green 3px;
}
.offline {
  border: solid black 2px;
}
.unavailable {
  border: solid red 3px;
}

.streamer {
  border-radius: 16px;
  margin-bottom: 10px;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.streamer * {
  padding: 0 10px;
}

body {
  width: 70%;
  margin: 20px auto;
  font-family: Ubuntu;
  background-color: grey;
}

img {
  width: 8%;
  margin: 10px 20px;
  border-radius: 100px;
}

form:hover {
  cursor: pointer;
}

/**footer **/
footer a {
  float: right;
}

/** Header and Nav **/
header {
  text-align: center;
  font-family: 'Righteous', cursive;
  padding-top: 20px;
}

li {
  display: inline-block;
  padding: 10px;
  border-radius: 20px;
  border: transparent solid 5px;
}

form {
  margin: 0 50px;
  display: inline-block;
}

li:hover {
  border: white solid 5px;
}

a:hover > i {
  transform: rotate(-30deg);
}
a {
  font-size: 20px;
  text-decoration: none;
}
