
.online{
  border:solid pink 2px;
}
.offline{
  border: solid black 2px;
}
.unavailable{
  border: solid red 5px;
}
.streamer{
  margin-bottom: 10px;
  background-color: white;
}
body{
  width: 70%;
  margin: 20px auto;
  font-family: Ubuntu;
  background-color: grey;
}
header{
  text-align:center;
  font-family: 'Righteous',cursive;
  padding-top: 20px;
}

footer a{
  display: float;
  float:right;
}
