* {
  padding: 0;
}

.online{
  border:solid pink 2px;
}
.offline{
  border: solid black 2px;
}
.unavailable{
  border: solid red 2px;
}

.streamer{
  margin-bottom: 10px;
  background-color: white;
  display: flex;
}

body{
  width: 70%;
  margin: 20px auto;
  font-family: Ubuntu;
  background-color: grey;
}

form:hover{
  cursor: pointer;
}
/**footer **/
footer a{
  display: float;
  float:right;
}
/** Header and Nav **/
header{
  text-align:center;
  font-family: 'Righteous',cursive;
  padding-top: 20px;
}

li{
  display: inline-block;
  padding: 10px;
  border: transparent solid 5px;
}

form{
  margin: 0 50px;
  display:inline-block;
}


li:hover{
  border: white solid 5px;
}
